
<section class="top-bar-section">

    <% if @auth.present?  %>
           <li><%= link_to('Logout', '/users/sign_out', :method => :delete ) %></li>
    <% end %>

</section>
<div class="row">
	<div class="large-8 columns">

	<div id="search_for_stuff">
		<%= render(:partial => 'home/search_for_stuff') %>	
	</div>

	
	<div id="search_results">
		<%= render(:partial => 'home/search_results') %>
	</div>
	</div>
	

	<div class="large-4 columns">
		<div id="top_ten">
			<%= render(:partial => 'home/top_ten') %>	
		</div>
	</div>
</div>



